:host {
  position: absolute;
  bottom: 8rem;
  width: 100%;
}

.suggestions {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .suggestion {
    width: 40%;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @media (max-width: 700px) {
      width: 100%;
      margin: 0.5rem;
    }
    display: flex;
    flex-direction: column;
    .suggestion-button {
      height: 5rem;
      @media screen and (max-width: 768px) {
        height: 4rem;
      }
    }
  }
}
