:host {
    display: block;
    width: 100%;
}

.full-width {
    width: 100%;
}

.notepad {
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, 0.5) 19px, transparent 1px), #e5e5e5;
    background-size: 100% 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;

    font-size: 15px;
    resize: none;
    line-height: 25px;
    /* Adjusted the line-height */
    overflow: auto;
}

.add-button {
    position: absolute;
    z-index: 3;
    bottom: 0.5rem;
    right: 0.5rem;
}