<div class="about-page">
  <h2>About Shopit-GPT</h2>
  <p><strong>Empowering Creativity and Efficiency with AI</strong></p>
  <p>
    Welcome to Shopit-GPT, an experimental platform designed to unleash the
    potential of artificial intelligence in everyday tasks and online shopping
    experiences.
  </p>

  <h3>Feature 1: AI-Enhanced Shopping Cart</h3>
  <p>
    Shopping online is about to get a lot smarter and more personalized. Our app
    leverages the OpenAI API to revolutionize how you shop on the internet.
    Imagine an AI-based cart that not only understands your shopping needs but
    also makes intelligent suggestions, manages your shopping list, and
    optimizes your online purchasing process. It's about making shopping
    seamless, efficient, and tailored to your preferences.
  </p>

  <h3>Feature 2: An experimental clone of Chat GPT Interface</h3>
  <p>
    This is an experimental clone of Chat GPT Interface. It is a simple chat
    interface that allows you to chat with an AI assistant. The assistant is
    powered by OpenAI's GPT-3, which is capable of understanding and responding
    to natural language input. The interface is designed to be user-friendly and
    intuitive, allowing you to have a natural conversation with the AI
    assistant. You can ask it questions, get recommendations, or just have a
    chat. The possibilities are endless!
  </p>

  <h3>
    Created by Zafrir Dotan
    <a href="https://www.linkedin.com/in/zafrir-dotan/" target="_blank"
      >LinkedIn</a
    >
  </h3>

  <p>
    Zafrir Dotan is a full-stack developer with a passion for creating
    innovative and user-friendly web applications. I am constantly exploring new
    technologies and experimenting with different tools to create unique and
    engaging user experiences. I am excited to share my latest project with you
    and hope you enjoy using it as much as I enjoyed creating it.
  </p>

  <h3>Built on a Foundation of Modern Technologies</h3>
  <p>
    At the core of our app lies a robust technology stack consisting of NestJS,
    Angular, MongoDB, and deployment on AWS (Amazon Web Services). This powerful
    combination of modern development frameworks and cloud hosting solutions
    enables us to provide a high-performance, scalable, and secure platform.
    Designed to meet the current demands of our users while also anticipating
    future needs, our app stands at the forefront of the digital landscape,
    ready to adapt and evolve.
  </p>

  <h3>Explore and Contribute</h3>
  <p>
    All code is available for you to explore on
    <a href="https://github.com/zafrirdotan/AI-App" target="_blank">GitHub</a>.
  </p>
</div>
