<mat-toolbar color="primary" *ngIf="showToolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Chat-GPT Clone</span>
    <span class="navbar-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Like">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="share via">
        <mat-icon>share</mat-icon>
    </button>


    <button *ngIf="!user" mat-icon-button aria-label="login" matTooltip="login to get full excess"
        (click)="goToLoginPage()">
        <mat-icon>login</mat-icon>
    </button>


    <button *ngIf="user" mat-icon-button [matMenuTriggerFor]="userMenu" class="user-avatar">
        {{ user!.name!.charAt(0) }}
    </button>

    <mat-menu #userMenu="matMenu">
        <!-- <button mat-menu-item>
            <mat-icon>settings_applications</mat-icon>
            <span>Settings</span>
        </button> -->
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

</mat-toolbar>