.nav-bar {
  padding: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  .logo-text {
    font-size: 1.3rem;
  }
}
.navbar-spacer {
  flex: 1 1 auto;
}
.app-image {
  width: 3.5rem;
}

.user-avatar {
  background: black;
  color: white;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.sign-up-button {
  background: transparent;
  padding: 1rem;
}

.icon-container {
  width: 48px; /* or desired size */
  height: 48px; /* or desired size */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; /* Ensure the icon is not trimmed */
}
