<mat-toolbar *ngIf="showToolbar" class="nav-bar">
  <button mat-button class="icon" [routerLink]="['/grocery-bot']">
    <div class="logo-container">
      <img src="assets/images/tamara.webp" alt="My Image" class="app-image" />
      <span class="logo-text">Tamara</span>
    </div>
  </button>

  <span class="navbar-spacer"> </span>
  <button mat-button [routerLink]="['/chat']">
    <mat-icon>chat</mat-icon> Chat
  </button>
  <a href="https://github.com/zafrirdotan/AI-App" target="_blank">
    <div class="icon-container">
      <mat-icon svgIcon="github"></mat-icon>
    </div>
  </a>

  <button
    *ngIf="!user && !isMobile"
    mat-button
    aria-label="about"
    [routerLink]="['/about']"
  >
    About
  </button>

  <button
    *ngIf="!user && !isMobile"
    mat-button
    class="sign-up-button"
    aria-label="sing up"
    matTooltip="sign in to get full excess"
    (click)="openSignupDialog()"
  >
    Sign up
  </button>

  <button
    *ngIf="!user && !isMobile"
    mat-button
    aria-label="login"
    matTooltip="login to get full excess"
    (click)="goToLoginPage()"
  >
    <mat-icon>login</mat-icon> Login
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    *ngIf="user || isMobile"
  >
    <span class="user-name" *ngIf="user">{{ user!.name.charAt(0) }}</span>
    <mat-icon class="user-avatar" *ngIf="!user">account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <!-- <button mat-menu-item>
          <mat-icon>settings_applications</mat-icon>
          <span>Settings</span>
      </button> -->
  <button mat-menu-item *ngIf="user" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
  <button
    *ngIf="!user && isMobile"
    mat-menu-item
    aria-label="login"
    matTooltip="login to get full excess"
    (click)="openSignupDialog()"
  >
    Sign up
  </button>

  <button
    *ngIf="!user && isMobile"
    mat-menu-item
    aria-label="login"
    matTooltip="login to get full excess"
    (click)="goToLoginPage()"
  >
    Login
  </button>

  <button
    *ngIf="!user && isMobile"
    mat-menu-item
    aria-label="about"
    [routerLink]="['/about']"
  >
    About
  </button>
</mat-menu>
