<mat-toolbar *ngIf="showToolbar">
  <img src="assets/images/lion-GPT.webp" alt="My Image" class="app-image" />

  <span class="icon">.AI</span>

  <button mat-button [routerLink]="['/grocery-bot']">
    <mat-icon>shopping_cart</mat-icon> Shopit GPT Bot
  </button>
  <button mat-button [routerLink]="['/chat']">
    <mat-icon>chat</mat-icon> Chat Bot
  </button>
  <span class="navbar-spacer"> </span>
  <a href="https://github.com/zafrirdotan/AI-App" target="_blank">
    <div class="icon-container">
      <mat-icon svgIcon="github"></mat-icon>
    </div>
  </a>

  <button
    *ngIf="!user"
    mat-button
    class="sign-up-button"
    aria-label="login"
    matTooltip="login to get full excess"
    (click)="openSignupDialog()"
  >
    Sign up
  </button>

  <button
    *ngIf="!user"
    mat-button
    aria-label="login"
    matTooltip="login to get full excess"
    (click)="goToLoginPage()"
  >
    <mat-icon>login</mat-icon> Login
  </button>

  <button
    *ngIf="user?.name"
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    class="user-avatar"
  >
    {{ user!.name.charAt(0) }}
  </button>

  <mat-menu #userMenu="matMenu">
    <!-- <button mat-menu-item>
            <mat-icon>settings_applications</mat-icon>
            <span>Settings</span>
        </button> -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
