<div class="cart-container">
  <div
    class="cart-item-container"
    *ngFor="let item of cart; let i = index; trackBy: trackItem"
  >
    <div class="cart-item">
      <div class="item-name">
        <mat-select
          #select="matSelect"
          [value]="item.name"
          (selectionChange)="changeToAlternative($event.value, item, i)"
          panelWidth="350px"
        >
          <mat-select-trigger>
            <div class="item-select-panel">
              <img
                [src]="'https://source.unsplash.com/' + item.imgUrl"
                class="option-image"
              />
              <div class="option-name">{{ item.name }}</div>
            </div>
          </mat-select-trigger>
          <mat-option [value]="item.name">
            <div class="item-select-panel">
              <img
                [src]="'https://source.unsplash.com/' + item.imgUrl"
                class="option-image"
              />
              <div class="option-name">{{ item.name }}</div>
              <div class="option-price">{{ item.price }}$</div>
            </div>
          </mat-option>
          <mat-option
            *ngFor="let alternative of item.alternatives"
            [value]="alternative.name"
          >
            {{ item.emoji }} {{ alternative.name }}
          </mat-option>
        </mat-select>
      </div>
      <div class="item-price">{{ item.price }}$</div>
    </div>
    <div class="item-quantity-container">
      <div class="item-quantity">
        {{ item.quantity }}
        {{ item.unit || "unit" }}
      </div>
      <div class="add-submit-items-buttons">
        <button
          mat-icon-button
          color="primary"
          (click)="decreaseQuantity(item)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-icon-button (click)="increaseQuantity(item)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="total-price">Total: {{ total | currency : "USD" }}</div>
</div>
<button mat-raised-button color="primary" class="pay-button" (click)="payNow()">
  Pay Now
</button>
