.cart-container {
  height: calc(100vh - 11rem);
  width: 25rem;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  @media (max-width: 700px) {
    height: calc(100vh - 16rem);

    width: 20rem;
  }
}

.cart-item-container {
  padding: 0.5rem 0;
}

.cart-header {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 1rem;
  border-bottom: 1px solid gainsboro;
  padding: 0.5rem 0;
  .cart-title {
    margin-left: 0.5rem;
  }
}

.cart-item {
  display: flex;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.item-name {
  width: fit-content;
  margin-right: 1rem;

  @media (max-width: 700px) {
    width: 15rem;
  }
}

.item-price {
  padding: 0 0.5rem;
  width: 4rem;
}

.item-quantity {
  padding: 0 0.5rem;
  width: 3rem;
}

.item-select-panel {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  .option-name {
    margin: 0 1rem;
  }
}

.option-image {
  width: 4rem;
}

.item-quantity-container {
  display: flex;
  align-items: center;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border-top: 1px solid gainsboro;
  margin: 0.5rem 1rem;

  .total-price {
    text-align: right;
    font-weight: bold;
  }
}
