<div class="cart-header cart-item-container">
  <div class="item-name">Item</div>
  <div class="item-price">Price</div>
  <div class="item-quantity">Quantity</div>
</div>
<div class="cart-container">
  <div class="cart-item-container" *ngFor="let item of cart; let i = index">
    <div class="cart-item">
      <div class="item-name">
        <mat-select
          #select="matSelect"
          [value]="item.name"
          (selectionChange)="changeToAlternative($event.value, item, i)"
        >
          <mat-option [value]="item.name"
            >{{ item.emoji }} {{ item.name }}
          </mat-option>
          <mat-option
            *ngFor="let alternative of item.alternatives"
            [value]="alternative.name"
          >
            {{ item.emoji }} {{ alternative.name }}
          </mat-option>
        </mat-select>
      </div>
      <div class="item-price">
        {{ item.price }}
      </div>
      <div class="item-quantity">
        {{ item.quantity }}
        {{ item.unit || "unit" }}
      </div>
      <div class="add-submit-items-buttons">
        <button
          mat-icon-button
          color="primary"
          (click)="decreaseQuantity(item)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-icon-button (click)="increaseQuantity(item)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="total-price">Total: {{ total | currency : "USD" }}</div>
</div>
<button mat-raised-button color="primary" class="pay-button" (click)="payNow()">
  Pay Now
</button>
