<div class="cart-container">
    <!-- cart headers -->
    <div class="cart-header">
        <div class="item-name">
            Item
        </div>
        <div>
            Price
        </div>
        <div>
            Quantity
        </div>
        <div class="cart-header-buttons">
            <!-- <button mat-icon-button color="primary" (click)="clearCart()">
                <mat-icon>delete</mat-icon>

            </button> -->

        </div>
    </div>

    <div *ngFor="let item of cart; let i = index">
        <div class="cart-item">

            <div class="item-name">

                {{item.name}}
            </div>
            <div>
                {{item.price}}
            </div>
            <div>
                {{item.quantity}}
                {{item.unit}}
            </div>
            <button mat-icon-button color="primary" (click)="decreaseQuantity(item)">
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button (click)="increaseQuantity(item)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        alternatives:
        <div class="alternatives">
            <div *ngFor="let alt of item.alternatives | slice:0:4" class="alternative-item">
                {{alt.name}}
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>