.cart-container {
  height: calc(100vh - 64px - 153px);
  padding: 1rem;
  overflow-y: scroll;
}

.cart-item-container {
  //   width: 25rem;
  padding: 0.5rem 0;
}

.cart-header {
  display: flex;

  font-weight: bold;

  padding: 1rem 1rem 0;
  .cart-header-buttons {
    width: 5rem;
  }
}

.cart-item {
  display: flex;
  padding-bottom: 0.5rem;
  align-items: center;
  position: relative;
}

.item-name {
  width: 11rem;
  margin-right: 1rem;
}

.item-price {
  padding: 0 0.5rem;
  width: 4rem;
}

.item-quantity {
  padding: 0 0.5rem;
  width: 3rem;
}

.alternatives {
  display: flex;
  align-items: center;
  width: 25rem;

  .alternative-item {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pay-button {
  margin: 0 auto;
  display: block;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
