.page-container {
  height: calc(100vh - 64px);
}

.drawer-concent {
  height: calc(100vh - 64px - 103px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.placeholder {
  position: relative;
  text-align: center;
  margin: 5rem auto;
  .app-image {
    width: 20rem;
    border-radius: 50%;
  }
}

.message-container {
  margin: auto;
  padding: 1rem;

  .message {
    width: 80%;
    display: flex;
    margin: auto 3rem;

    @media (max-width: 768px) {
      margin: 0;
    }

    .avatar {
      width: 3rem;
      height: 2rem;
      color: white;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      align-items: center;
    }

    .gpt-avatar {
      background: #34a09b;
    }

    .you-avatar {
      background: #a440ff;
    }

    .message-content {
      margin: 1rem;
      width: 100%;
    }
  }
}

.bot-message {
  background-color: #f5f5f5;
}

.message-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  background: white;

  .message-input {
    width: 50%;

    @media (max-width: 768px) {
      width: 96%;
    }
  }
}

.chat-drawer {
  width: 20rem;
}

.chat-button-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  .chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    margin-right: 0;
  }
  .chat-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5rem;

      .chat-icon {
        font-size: 1rem;
      }
    }
  }
  .delete-button {
    display: none;
  }
}

.chat-item:hover {
  .delete-button {
    display: block;
  }
}

.close-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .new-button {
    margin: 0 1rem;
  }
}
