.page-container {
  height: calc(100vh - 64px);
  background-color: white;
}

.drawer-concent {
  height: calc(100vh - 64px - 103px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.placeholder {
  position: relative;
  text-align: center;
  margin: 5rem auto;
  .app-image {
    width: 20rem;
    border-radius: 50%;
  }
}

.message-container {
  padding: 0.5rem;
  .message {
    width: 80%;
    display: flex;
    margin: auto 3rem;

    @media (max-width: 768px) {
      margin: 0;
    }

    .avatar {
      width: 2rem;
      height: 2rem;
      color: white;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      align-items: center;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }

    .gpt-avatar {
      background: #34a09b;
    }

    .you-avatar {
      background: #a440ff;
    }

    .message-content {
      margin: 1rem;
      width: 100%;
    }
  }
}

.bot-message {
  padding-bottom: 0;
}

.chat-content {
  position: relative; // Ensure this is the parent of .message-input-container
  height: 100%;
}

.message-input-container {
  position: absolute;
  transition: top 0.3s ease-in-out;
  bottom: 3rem;
  width: 100%;
  padding-top: 25px;

  .message-input {
    width: 50%;
    max-width: 40rem;
    margin: auto;
    background: white;
    display: flex;
    border-radius: 2rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    min-height: 60px;
    resize: vertical;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
      width: 96%;
    }
    .massage-input-field {
      width: 90%;
      resize: none;
      font-size: 1rem;
      border: none;
      outline: none;
      padding: 1rem;
    }

    .send-button {
      align-self: flex-end;
    }
    .loader-container {
      align-self: flex-end;
    }
  }
}

.massage-input-centered {
  top: 40%;
}

.chat-drawer {
  width: 20rem;
}

.chat-button-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  .chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
  }
  .chat-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .button-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5rem;

      .chat-icon {
        font-size: 1rem;
      }
    }
  }
  .delete-button {
    display: none;
  }
}

.chat-item:hover {
  .delete-button {
    display: block;
  }
}

.close-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .new-button {
    margin: 1rem;
  }

  .close-button {
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
