.chat-container {
  height: calc(100vh - 64px - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-container {
  margin: auto;
  padding-top: 1rem;

  .message {
    width: 60%;
    margin: auto;

    @media (max-width: 768px) {
      margin: 0;
      width: 100%;
    }

    .avatar {
      font-weight: 600;
      display: flex;
      align-items: center;
      width: 8rem;
    }

    .gpt-avatar {
      border: 2px solid rgb(85, 78, 78);
      border-radius: 50%;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
    }

    .message-content {
      margin-top: 0.5rem;
      padding-left: 2.2rem;
    }
    .user-avatar {
      background: black;
      color: white;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}

.message-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;

  .message-input {
    width: 50%;

    @media (max-width: 768px) {
      width: 96%;
    }
  }
}

.list-massage {
  padding: 0 1rem;
}

.sidenav-content {
  width: 26rem;
}

.cart-title {
  padding: 0 1rem;
}
