<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    [mode]="isMobile? 'over': 'side'"
    [opened]=" isMobile? false: true"
  >
    <div class="close-button-container" *ngIf="isMobile">
      <button mat-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="cart-container">
      <app-cart
        [cart]="(cart$ | async) || []"
        (cartChange)="cartChange($event)"
      ></app-cart>
    </div>
  </mat-drawer>

  <mat-drawer-content class="backgrownd-white">
    <div class="drawer-header">
      <div (click)="drawer.open()">
        <button mat-button *ngIf="!drawer.opened">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
      <div class="chat-actions">
        <button
          mat-button
          aria-label="clear chat"
          (click)="openClearChatDialog()"
        >
          <div>
            <mat-icon>create</mat-icon>
          </div>
        </button>
      </div>
    </div>

    <app-chat></app-chat>

    <app-textarea></app-textarea>
  </mat-drawer-content>
</mat-drawer-container>
