<mat-drawer-container class="page-container" autosize>
  <mat-drawer
    #drawer
    [mode]="isMobile? 'over': 'side'"
    [opened]=" isMobile? false: true"
  >
    <div class="close-button-container">
      <button mat-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="cart-container">
      <app-cart
        [cart]="(cart$ | async) || []"
        (cartChange)="cartChange($event)"
      ></app-cart>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div (click)="drawer.open()" *ngIf="!drawer.opened">
      <button mat-raised-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
    <div class="chat-container" #scrollTarget>
      <div
        *ngFor="let chatItem of chat$ | async"
        class="message-container"
        [ngClass]="{'bot-message': chatItem.role === 'assistant'}"
      >
        <div *ngIf=" chatItem.role==='user'" class="message user-message">
          <div class="avatar">
            <mat-icon class="user-avatar">account_circle</mat-icon>You
          </div>
          <div
            class="message-content user-message"
            [appMarkdown]="chatItem.content"
          ></div>
        </div>

        <div *ngIf="chatItem.role === 'assistant'" class="message bot-message">
          <div class="avatar">
            <mat-icon class="gpt-avatar">shopping_cart</mat-icon>Cart bot
          </div>
          <div class="message-content" [appMarkdown]="chatItem.content"></div>
        </div>
      </div>

      <!-- <div
        *ngIf="this.isLoadingResponseMessage"
        class="message-container"
        #scrollTarget
      >
        <div class="message bot-message">
          <div class="avatar">
            <mat-icon class="gpt-avatar">shopping_cart</mat-icon>Cart bot
          </div>
          <app-assistant-message
            class="message-content"
            [message]="lastMessage"
          ></app-assistant-message>
        </div>
      </div> -->
    </div>

    <div class="message-input-container">
      <mat-form-field class="message-input" appearance="outline">
        <textarea
          [formControl]="messageInput"
          #messageInputField
          matInput
          placeholder="Send a massage."
          (keydown.enter)="sendMessage($event)"
          appAutoResize="true"
        ></textarea>

        <button
          mat-icon-button
          aria-label="send message"
          class="send-button"
          (click)="sendMessage($event)"
          *ngIf="!(this.isLoading$ |async); else loader;"
        >
          <mat-icon>send</mat-icon>
        </button>

        <ng-template #loader>
          <app-chat-loader class="send-button"></app-chat-loader>
        </ng-template>
      </mat-form-field>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
